body {
    font-family: 'Poppins', sans-serif;
    background: #eee; 
  }
  
  .search {
    padding: 50px 0;
  }
  
  input {
    width: 300px;
  }
  
  .card {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .card-header {
    padding: 30px;
  }